body{
  background-image: url(img/7-1bg.png);
    /*this height allows us to see the full background picture vertically*/
  height: 2875px;
  /*this width prevents the images from wrapping*/
  width: 1600px;
  background-repeat: no-repeat;
  background-position: 200px 0;
  
}
img{
  /*these properties together allow inline elements on the same row to have independent top and bottom margins/padding*/
  display:inline-block;
  vertical-align: top;
}

/*
Add your CSS to the ID selectors below
*/

#ball{
  margin-left: 215px;
  margin-top: 12px;

}

#turnip{
  margin-left: 489px;
  margin-top: 193px;
}

#grass{
  margin-left: 47px;
  margin-top: 193px;
}

#L{
  margin-left: 291px;
  margin-top: 1359px;
}

#T{
  margin-left: 97px;
  margin-top: 1459px;
}

#I{
  margin-left: 295px;
  margin-top: 1360px;
}

Once you have it working on repit.com, you can then add it to your github.io project as you did with the previous projects.  Don't forget to commit your changes in the version control tab.  If you need a refresher, check out Unit 2 - Creating a Live Website.

You will submit the link to your standalone project in repl.it and the link to your github.io page.